--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.9.1
torchvision==0.26.0

numpy==1.26.4
Pillow==10.2.0
pydicom==2.4.4
opencv-python-headless==4.9.0.80
scikit-image==0.22.0
matplotlib==3.8.4
streamlit==1.34.0
torchxrayvision==1.2.4
pytorch-grad-cam
pandas
